# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
pytest_cache/
.pytest_cache/
*.log

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Config file with secrets
src/config.py

# Exclude response and testing_results folders
response/
test_results/